<div class="container">
  <p>
    <%= @prestation.title %>
  </p>
  <p>
    <%= @prestation.description %>
  </p>
  <%= link_to "back to index", me_artisans_prestations_path %>
  <% if current_user.artisan %>
    <p>
      <%= link_to "edit prestation", edit_me_artisans_prestation_path(@prestation) %>
    </p>
  <% else %>
    <p>
      <%= link_to "book this prestation", '#' %>
    </p>
    <p>
      <%= link_to "decline this prestation", '#' %>
    </p>
  <% end %>
</div>
