<div class="container">
  <div style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); padding: 20px">
    <h1 style="text-align: center">Devis</h1>
    <div class="row">
      <span style="text-align: center;"><img alt="" style="max-height: 80px; max-width: 80px" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>
      <div class="col-6" style="margin-top: 30px">
            <address contenteditable>
            <p><strong>Nom: </strong><%= @prestation.project.user.first_name %> <%= @prestation.project.user.last_name %></p>
            <p><strong>Adresse: </strong><%= @prestation.project.user.address %></p>
            <p><strong>Tél: </strong><%= @prestation.project.user.phone_number %></p>
            </address>
      </div>
      <div class="col-6" style="margin-top: 30px; text-align: right;">
            <address contenteditable>
              <p><%= @prestation.artisan.company %><br><%= @prestation.artisan.first_name %> <%= @prestation.artisan.last_name %></p>
            </address>
      </div>
  </div>


        <h1>Description</h1>
           <table class="meta" style="margin-bottom: 30px">
              <tr>
                <th><span contenteditable>Devis #</span></th>
                <td><span contenteditable><%= @prestation.id %></span></td>
              </tr>
              <tr>
                <th><span contenteditable>Date</span></th>
                <td><span contenteditable><%= @prestation.project.date %></span></td>
              </tr>
              <tr>
                <th><span contenteditable>Prix Total</span></th>
                <td><span id="prefix" contenteditable>€</span><span><%= @prestation.price %></span></td>
              </tr>
            </table>

            <table class="inventory">
              <thead>
                <tr>
                  <th><span contenteditable>Item</span></th>
                  <th><span contenteditable>Description</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a class="cut">-</a><span contenteditable>Matériaux</span></td>
                  <td><span contenteditable><%= @prestation.material %></span></td>
                </tr>
                <tr>
                  <td><a class="cut">-</a><span contenteditable>Main d'oeuvre</span></td>
                  <td><span contenteditable><%= @prestation.workforce %></span></td>
                </tr>
              </tbody>
            </table>
  </div>
</div>

  <div class="container">
  <% if current_user.artisan %>
    <p><br><%= link_to "Editer le devis", edit_me_artisans_prestation_path(@prestation), class: 'btn btn-warning btn-block' %>
  <% else %>
       <%= link_to "Valider", projects_path, class: 'btn btn-light' %>
       <%= link_to "Rejeter", projects_path, class: 'btn btn-light' %>
    </p>
  <% end %>
  </div>


  <!-- Etat devis en cours -->
  <% if @prestation.done? %>
    <h3 class="text-center"><i class="fas fa-check"></i></h3>
  <% else %>
    <!-- Chat-room -->
    <div class="row">
      <div class="col-sm-12">
        <div class="chat-header"><h1 class="top-title" style="color: white !important">Messagerie</h1></div>
        <div class="messages">
          <% @prestation.messages.each do |message| %>
            <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
        <div class="create-message">
          <%= simple_form_for [@prestation, Message.new ], remote: true do |f| %>
            <%= f.input :content, label: false %>
          <% end %>
        </div>
      </div>
    </div>

    <% content_for :after_js do %>
      <script>
        scrollLastMessageIntoView();
        App['prestation_<%= @prestation.id %>'] = App.cable.subscriptions.create(
          { channel: 'PrestationsChannel', prestation_id: <%= @prestation.id %> }, {
          connected: () => {
            console.log("[CONNECTED]")
          },
          received: (data) => {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            if (data.author_id == <%= current_user.id %>) {
              document.getElementById(data.message_id).classList.add("right")
            }
            const input = document.querySelector('#message_content');
            input.value = '';
            scrollLastMessageIntoView();
            }
          }
        )
      </script>
    <% end %>
    <!-- Boutton terminé -->
    <% if current_user.artisan == false %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal">
        Terminer mon projet
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">Laissez votre avis sur <%= @prestation.artisan.first_name %> <%= @prestation.artisan.last_name %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= simple_form_for @prestation do |f| %>
              <div class="modal-body">
                <fieldset class="rating">
                  <input type="radio" id="star5" name="prestation[rating]" value="5" /><label class = "full" for="star5" title="Parfait - 5 étoiles"></label>
                  <input type="radio" id="star4" name="prestation[rating]" value="4" /><label class = "full" for="star4" title="Très bien - 4 étoiles"></label>
                  <input type="radio" id="star3" name="prestation[rating]" value="3" /><label class = "full" for="star3" title="Moyen - 3 étoiles"></label>
                  <input type="radio" id="star2" name="prestation[rating]" value="2" /><label class = "full" for="star2" title="Déçu - 2 étoiles"></label>
                  <input type="radio" id="star1" name="prestation[rating]" value="1" /><label class = "full" for="star1" title="Très déçu - 1 étoile"></label>
                </fieldset>
                <%= f.input :review, label: false %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annuler</button>
                <%= f.submit "Terminer", class: "btn btn-warning btn-block", id: "sweet-alert-demo" %>
              </div>
            <% end %>
            <% sleep(3) %>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



