<div class="container">
  <p>
    Titre:
    <%= @prestation.title %>
  </p>
  <p>
    Description:
    <%= @prestation.description %>
  </p>
  <p>
    Matériaux:
    <%= @prestation.material %>
  </p>
  <p>
    Main d'oeuvre:
    <%= @prestation.workforce %>
  </p>
  <p>
    Prix:
    <%= @prestation.price %>
  </p>

  <% if current_user.artisan %>
    <p>
      <%= link_to "Devis Artisan", me_artisans_prestations_path, class: 'btn btn-light' %>
      <%= link_to "Editez Devis", edit_me_artisans_prestation_path(@prestation), class: 'btn btn-light' %>
  <% else %>
      <%= link_to "Valider", '#', class: 'btn btn-light' %>
      <%= link_to "Rejeter", '#', class: 'btn btn-light' %>
      <%= link_to "Retour", projects_path, class: 'btn btn-light' %>
    </p>
  <% end %>
</div>

<h2>Ajoutez un avis</h2>

    <%= simple_form_for @prestation do |f| %>
        <fieldset class="rating">
          <input type="radio" id="star5" name="prestation[rating]" value="5" /><label class = "full" for="star5" title="Parfait - 5 étoiles"></label>
          <input type="radio" id="star4" name="prestation[rating]" value="4" /><label class = "full" for="star4" title="Très bien - 4 étoiles"></label>
          <input type="radio" id="star3" name="prestation[rating]" value="3" /><label class = "full" for="star3" title="Moyen - 3 étoiles"></label>
          <input type="radio" id="star2" name="prestation[rating]" value="2" /><label class = "full" for="star2" title="Déçu - 2 étoiles"></label>
          <input type="radio" id="star1" name="prestation[rating]" value="1" /><label class = "full" for="star1" title="Très déçu - 1 étoile"></label>
        </fieldset>
      <%= f.input :review, label: false %>
      <%= f.submit "Ajoutez un avis", class: "btn btn-primary btn-block"%>
    <% end %>
    <br>
