<div class="container">
  <p>
    <%= @prestation.title %>
  </p>
  <p>
    <%= @prestation.description %>
  </p>
  <%= link_to "Devis Artisan", me_artisans_prestations_path %>
  <% if current_user.artisan %>
    <p>
      <%= link_to "Editez Devis", edit_me_artisans_prestation_path(@prestation) %>
    </p>
  <% else %>
    <p>
      <%= link_to "book this prestation", '#' %>
    </p>
    <p>
      <%= link_to "decline this prestation", '#' %>
    </p>
  <% end %>
  <%= link_to "Retour", project_path, class: 'btn btn-light' %>
</div>
