<div class="container">
  <h1 class="top-title">Mon profil</h1>
  <%= cl_image_tag @user.photo, class: "rounded-circle mx-auto d-block", style: "width: 100px" %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :photo, label: "Changez votre photo de profil" %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: "Mot de passe",
                  hint: "Laisser vide si vous ne voulez pas le changer.",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirmation du Mdp",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, label: "Mdp actuel",
                  hint: "Besoin de votre Mdp pour l'éditer",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :first_name, required: true, label: "Prénom" %>
      <%= f.input :last_name, required: true, label: "Nom" %>
      <%= f.input :phone_number, required: true, label: "Numéro de téléphone" %>
      <%= f.input :address, required: true, label: "Adresse" %>
      <%= f.input :birthdate, label: "Date de naissance", as: :string, required: false, input_html: {class: "datepicker"} %>
      <% if current_user.artisan %>
        <%= f.input :specialty, required: true, label: "Métier" %>
        <%= f.input :siret, required: true, label: "Siret" %>
        <%= f.input :company, required: true, label: "Entreprise" %>
        <%= f.file_field :portfolio, multiple: true, label: "Portfolio" %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Editer", class: "btn btn-danger btn-block" %>
    </div>
  <% end %>

  <h1 class="top-title" style="margin-top: 60px">Supprimer mon compte</h1>

  <p style="text-align: center"><%= link_to "Cliquer ici pour supprimer votre compte", registration_path(resource_name), data: { confirm: "Etes vous sûr?" }, method: :delete %></p>
</div>
