<nav class="navbar navbar-expand-lg navbar-light bg-light Regular shadow" style="background: linear-gradient(-180deg, #FAD961 0%, #F5A623 100%);">
  <a class="navbar-brand" href="/"><%= image_tag "logo.png", height: 50 %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Artisan -->
      <% if current_user.nil?  %>
        <li class="nav-item">
          <%= link_to 'Connexion', new_user_session_path, class:"nav-link" %>
        </li>
      <% elsif current_user.artisan %>
        <li class="nav-item">
          <%= link_to "Mon profil", edit_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mon tableau de bord", me_artisans_prestations_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Deconnexion', destroy_user_session_path, class:"nav-link", method: :delete %>
        </li>
      <!-- User -->
      <% else %>
        <li class="nav-item">
          <%= link_to "Mon profil", edit_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mes projets", projects_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Créer mon projet", new_project_path, class:"nav-link" %>
        </li>
        <li class="nav-item" style="margin-top: 8px">
          <%= form_tag artisans_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouve ton artisan"
            %>
            <%= submit_tag "Rechercher", class:"btn btn-outline-secondary my-2 my-sm-0 btn-block" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog', decoration_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Qui sommes-nous?', about_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Deconnexion', destroy_user_session_path, class:"nav-link", method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
