<div>
  <%= simple_form_for @project do |f| %>
    <%= @project.errors.full_messages.join(', ') %>
    <%= f.input :title %>
    <%= f.input :description %>

    <%= simple_form_for :search, method: "get" do |f| %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <% end %>

    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Choisissez votre Photo</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

    <p><%= link_to "Créez", projects_path, class: 'btn btn-light' %>
    <%= link_to "Accueil", root_path, class: 'btn btn-light' %></p>
  <% end %>
</div>
