<div class="container">
  <h1 class="top-title">Tous mes projets</h1>

    <div style="text-align: center; margin-bottom: 30px">
      <img src="https://pngimage.net/wp-content/uploads/2018/06/homes-png.png" style="max-height: 200px; max-width: -webkit-fill-available">
  </div>

  <% @projects.each do |project| %>
    <div class="card" style="margin-bottom: 30px; box-shadow: 3px 4px 7px 0px #9E9E9E;">
      <div class="card-body" style="color: #545d7e; text-shadow:none">
        <div class="row">
          <div class="col-4">
            <%= cl_image_tag project.photo, class: "rounded float-left", style: "height: 100px; width: 100px;" %>
          </div>
          <div class="col-8">
            <h5 class="card-title"><%= link_to project.title, project_path(project),{:style=>'color:#F5A623'} %></h5>
              <p><%= project.description %></p>
            <p class="card-text" style="font-size: 10px"><%= project.date %></p>
            <%= link_to edit_project_path(project) do %>
              <i class="fas fa-edit float-right" style="color: #F5A623"></i>
            <% end %>
            <%= link_to project_path(project), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
              <i class="fas fa-trash float-right" style="color: #F5A623; margin-right: 10px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Retour", root_path, class: 'btn btn-light btn-block' %>
</div>






