<div class="container">
  <h1 class="top-title">Tous mes projets</h1>

    <div style="text-align: center; margin-bottom: 30px">
      <img src="https://pngimage.net/wp-content/uploads/2018/06/homes-png.png" style="max-height: 200px; max-width: -webkit-fill-available">
  </div>

<!--   <% @projects.each do |project| %>
    <div class="card">
      <div class="card-body" style="color: #545d7e; text-shadow:none">
        <div class="row">
          <div class="col-4">
            <%= cl_image_tag project.photo, class: "rounded float-left", style: "height: 100px; width: 100px;" %>
          </div>
          <div class="col-6">
            <h5 class="card-title"><%= link_to project.title, project_path(project),{:style=>'color:#F5A623'} %></h5>
              <p><%= project.description %></p>
            <p class="card-text" style="font-size: 10px"><%= project.date %></p>
            <%= link_to edit_project_path(project) do %>

          </div>
            <div class="col-2" style="background-color: #F5A623" >

                  <i class="fas fa-edit" style="color: white"></i>
              <% end %>
              <%= link_to project_path(project), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
                <i class="fas fa-trash" style="color: white; margin-right: 10px"></i>
              <% end %>

            </div>
        </div>
      </div>
    </div>
  <% end %> -->

  <% @projects.each do |project| %>
    <div class="row no-gutters" style="margin-bottom: 30px;">
      <div class="col-auto">
        <%= cl_image_tag project.photo, class: "img-fluid", style: "height: 130px; width: 130px;" %>
         <!-- <img src="//placehold.it/120" class="img-fluid" alt=""> -->
      </div>
      <div class="col" style="border-style: solid; border-width:1px; border-color: #f5a62347">
          <div class="card-block px-2">
            <h5 class="card-title" style="margin-top: 10px"><%= link_to project.title, project_path(project),{:style=>'color:#F5A623'} %></h5>
                <p style="color: #535D7E"><%= project.description %></p>
              <p class="card-text" style="font-size: 10px; color: #535D7E"><%= project.date %></p>
          </div>
      </div>
      <div class="col-1" style="background-color: #F5A623; text-align: center; padding-top: 60px">
        <%= link_to edit_project_path(project) do %>
        <i class="fas fa-edit" style="color: white; padding-bottom: 10px"></i>
      <% end %>
      <%= link_to project_path(project), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
        <i class="fas fa-trash" style="color: white;"></i>
      <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to "Retour", root_path, class: 'btn btn-light btn-block' %>
</div>






