<div class="container">
  <h1 style="text-align: center; margin-top: 20px">Tous nos artisans</h1>

  <div>
    <div class="row">
      <% @artisans.each do |artisan| %>
      <%= link_to artisan_path(artisan.id) do %>
      <div class="col-xs-2">
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar">
      </div>
      <div class="col-xs-6">
        <p style="font-size: 18px; padding-left: 20px"><%= artisan.specialty %></p>
        <p style="font-size: 14px; padding-left: 20px"><%= artisan.first_name %><%= artisan.last_name %></p>
      </div>
      <div class="col-xs-4" style="text-align: center">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="col-xs-12">
        <img src="https://images.pexels.com/photos/6412/table-white-home-interior.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="..." class="img-thumbnail image-large-card" style="margin-bottom: 60px">
      </div>
    <% end %>
    <% end  %>
    </div>
  </div>



</div>




<!--   <div class="row">
    <% @artisans.each do |artisan| %>
      <%= link_to artisan_path(artisan.id) do %>
        <div class="col-xs-12">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= artisan.first_name %><%= artisan.last_name %></h2>
              <h3><%= artisan.specialty %></h3>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          </div>
        </div>
      <% end %>
    <% end  %>
  </div> -->

