<div class="container">
  <h1 class="top-title">Modifier votre devis</h1>
  <div style="text-align: center">
    <img src="https://www.zervant.com/wp-content/uploads/2015/01/modele-gratuit-de-devis-a-telecharger-sous-format-excel.png" style="max-height: 194px">
  </div>

  <%= simple_form_for [:me_artisans, @prestation] do |f| %>
    <%= @prestation.errors.full_messages.join(', ') %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :workforce %>
    <%= f.input :material %>
    <%= f.input :price %>
    <p><%= f.button :submit, class: 'btn btn-danger'%>  <%= link_to "Accueil", root_path, class: 'btn btn-light' %></p>
  <% end %>
</div>
